#background {
  position: absolute;
  background-color: blue;
}


#socialmedia {
  position: absolute;
  left: 6%;
  top: 90%;
}

#page_name {
  position: absolute;
  text-align: center;
  left: 42.5%;
  top: 13%;
  color: Red;
  font-weight: lighter;
  font-size: 50px;
  font-weight: 500;
}


#box_menu {
  position: absolute;
  left: 9.1%;
  top: 10%;
  text-align: center;
  color: #fefefe;
  background-image: url("CD.png");
  padding:5px;
  border: 2px solid #fefefe;
  width: 105px;
  height:85px;
  line-height: 5px;
}

#artist_menu_box {
  position: absolute;
  left: 9.1%;
  top: 21%;
  text-align: center;
  color: #fefefe;
  padding: 0px;
  border: 2px solid #fefefe;
  width: 105px;
  height:30px;
  line-height: 25px;
}

#artist_menu {
  position: absolute;
  left: 10.45%;
  top: 19.5%;
  text-align: center;
  color: #fefefe;
  padding: 0px;
  line-height: 25px;
}

#about {
  position: absolute;
  width: 300px;
  height: 400px;
  left: 11%;
  top: 49%;
}

#first {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 11%;
  top: 28%;
}

#second {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 11%;
  top: 42.5%;
}

#third {
  position: absolute;
  width: 180px;
  height: 300px;
  left: 30.5%;
  top: 52.3%;
}


#awards {
  position: absolute;
  width: 300px;
  height: 200px;
  right:15%;
  top:41.5%;
}

#awards_tittle {
  position: absolute;
  right:5%;
  top:31%;
}

#firstA {
  position: absolute;
  width: 550px;
  height: 100px;
  right: 12%;
  top: 28.5%;
}

#secondA {
  position: absolute;
  width:550px;
  height: 100px;
  right: 12%;
  top: 34.5%;
}

#thirdA {
  position: absolute;
  width: 190px;
  height: 300px;
  right: 34%;
  top: 41%;
}

#fourthA {
  position: absolute;
  width: 190px;
  height: 300px;
  right: 34%;
  top: 56.5%;
}

#fithA {
  position: absolute;
  width: 190px;
  height: 300px;
  right: 34%;
  top: 63.5%;
}

#sixthA {
  position: absolute;
  width: 550px;
  height: 100px;
  right: 12%;
  top: 72.5%;
}

#seventhA {
  position: absolute;
  width: 550px;
  height: 100px;
  right: 12%;
  top: 78.5%;
}

 #eighthA {
  position: absolute;
  width: 550px;
  height: 100px;
  right: 12%;
  top: 84.5%;
}

 ul, ol {
  list-style: none;
}

 * {
   padding: 5px;
   margin: 0px;
}

 .nav li a {
  background-color:none;
  color:#0328bf;
  text-decoration:none;
  padding: 1px 30px;
  display: block;
}

.nav li a:hover {
  background-color: #0088e7;
}

.nav > li {
  float: left;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 105px;
}

.nav li:hover > ul {
  display: block;
}

.nav a {
  background-color:none;
  color:#fefefe;
  text-decoration:none;
  padding: 7px 1px;
}

.nav a:hover {
  background-color: #fefefe;
}
