
#socialmedia {
  position: absolute;
  left: 6%;
  top: 90%;
}

#page_name {
  position: absolute;
  text-align: center;
  left: 38%;
  top: 13%;
  color: #bd0f57;
  font-weight: lighter;
  font-size: 50px;
  font-weight: 500;
}


#box_menu {
  position: absolute;
  left: 9.1%;
  top: 10%;
  text-align: center;
  color: #fefefe;
  background-image: url("CD.png");
  padding:5px;
  border: 2px solid #fefefe;
  width: 105px;
  height:85px;
  line-height: 5px;
}

#artist_menu_box {
  position: absolute;
  left: 9.1%;
  top: 21%;
  text-align: center;
  color: #fefefe;
  padding: 0px;
  border: 2px solid #fefefe;
  width: 105px;
  height:30px;
  line-height: 25px;
}

#artist_menu {
  position: absolute;
  left: 10.45%;
  top: 19.5%;
  text-align: center;
  color: #fefefe;
  padding: 0px;
  line-height: 25px;
}

ul, ol {
 list-style: none;
}

* {
  padding: 5px;
  margin: 0px;
}

.nav li a {
 background-color:none;
 color:#0032b6;
 text-decoration:none;
 padding: 1px 30px;
 display: block;
}

.nav li a:hover {
 background-color: #bd0f57;
}

.nav > li {
 float: left;
}

.nav li ul {
 display: none;
 position: absolute;
 min-width: 105px;
}

.nav li:hover > ul {
 display: block;
}


.nav a {
 background-color:none;
 color:#fff;
 text-decoration:none;
 padding: 7px 1px;
}

.nav a:hover {
 background-color: #fefefe;
}

#carousel1 {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 30%;
  left: 17%;
}

 #carousel2 {
   position: absolute;
   width: 350px;
   height: 350px;
   top: 30%;
   left: 38.5%;
 }

 #carousel3 {
   position: absolute;
   width: 350px;
   height: 350px;
   top: 30%;
   left: 60%;
 }
