
body {
  background-image: url("../images/celine_dion_hp.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

/*NAME*/

#artist_name {
  position: relative;
  right:-26%;
  margin-top: 140px;
  text-align: center;
  color: #fefefe;
  font-family: 'Quintessential', cursive;
  font-size: 6vmax;
  width: 700px;
  height:250px;
  line-height: 1em;
  height: 3em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#cd {
  line-height: 0.2em;
}

/*MENU*/
.ahcaptiontext {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 12px;
    color: #fefefe;
}

.ahnavlink {
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
}

.ahnavblock {
    padding-top: 15px;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #40bfb9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fefefe;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #0328bf;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  position: relative;
  transition: margin-left .5s;
  padding: 60px 30px 30px 100px;
  font-family: cursive;
  color: #fefefe;
}

/*Social Media Bar*/
.icon-bar {
  position: fixed;
  top: 82%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #a4a1a3;
}

.facebook {
  background: #3B5998;
  color: white;
}

.instagram {
  background: #40bfb9;
  color: white;
}

.twitter {
  background: #3B5998;
  color: white;
}


.youtube {
  background: #40bfb9;
  color: white;
}

.content {
  margin-right: 75px;
  font-size: 30px;
}
