#background {
  position: absolute;
  background-color: blue;
}



#tourdates_titulo {
  position: absolute;
  text-align: center;
  left: 41%;
  top: 10%;
  color: #fefefe;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 900;
}


#date{
  position: absolute;
  left: 22%;
  top: 30%;
  text-align: center;
  color: #fefefe;
  padding:5px;
  border: 2px solid #fefefe;
  width: 150px;
  height:60px;
  font-size: 30px;
  padding: 0px;
  line-height: 25px
  line-height: 5px;
}

#tickets {

  position: absolute;
  left: 22%;
  top: 38%;
  text-align: center;
  color: #fefefe;
  padding: 0px;
  border: 2px solid #fefefe;
  width: 150px;
  height:130px;
  font-size: 30px;
  padding: 0px;
  line-height: 25px
  line-height: 5px;
}

#date1{
  position: absolute;
  left: 37%;
  top: 30%;
  text-align: center;
  font-size: 30px;
  color: #fefefe;
  padding:5px;
  border: 2px solid #fefefe;
  width: 150px;
  height:60px;
  padding: 0px;
  line-height: 25px
  line-height: 5px;
}

#tickets1 {

  position: absolute;
  left: 37%;
  top: 38%;
  text-align: center;
  color: #fefefe;
  padding: 0px;
  border: 2px solid #fefefe;
  width: 150px;
  height:130px;
  font-size: 30px;
  line-height: 25px;
}

#date2 {
  position: absolute;
  left: 52%;
  top: 30%;
  text-align: center;
  font-size: 30px;
  color: #fefefe;
  padding:5px;
  border: 2px solid #fefefe;
  width: 150px;
  height:60px;
  padding: 0px;
  line-height: 25px
  line-height: 5px;
}

#tickets2 {

  position: absolute;
  left: 52%;
  top: 38%;
  text-align: center;
  color: #fefefe;
  padding: 0px;
  border: 2px solid #fefefe;
  width: 150px;
  height:130px;
  font-size: 30px;
  line-height: 25px;
}

#date3 {
  position: absolute;
  left: 67%;
  top: 30%;
  text-align: center;
  font-size: 30px;
  color: #fefefe;
  padding:5px;
  border: 2px solid #fefefe;
  width: 150px;
  height:60px;
  padding: 0px;
  line-height: 25px
  line-height: 5px;
}

#tickets3 {

  position: absolute;
  left: 67%;
  top: 38%;
  text-align: center;
  color: #fefefe;
  padding: 0px;
  border: 2px solid #fefefe;
  width: 150px;
  height:130px;
  font-size: 30px;
  line-height: 25px;
}

#date4{
  position: absolute;
  left: 22%;
  top: 60%;
  text-align: center;
  font-size: 30px;
  color: #fefefe;
  padding:5px;
  border: 2px solid #fefefe;
  width: 150px;
  height:60px;
  padding: 0px;
  line-height: 25px
  line-height: 5px;
}

#tickets4 {

  position: absolute;
  left: 22%;
  top: 68%;
  text-align: center;
  color: #fefefe;
  padding: 0px;
  border: 2px solid #fefefe;
  width: 150px;
  height:130px;
  font-size: 30px;
  line-height: 25px;
}

#date5 {
  position: absolute;
  left: 37%;
  top: 60%;
  text-align: center;
  font-size: 30px;
  color: #fefefe;
  padding:5px;
  border: 2px solid #fefefe;
  width: 150px;
  height:60px;
  padding: 0px;
  line-height: 25px
  line-height: 5px;
}

#tickets5 {

  position: absolute;
  left: 37%;
  top: 68%;
  text-align: center;
  color: #fefefe;
  padding: 0px;
  border: 2px solid #fefefe;
  width: 150px;
  height:130px;
  font-size: 30px;
  padding: 0px;
  line-height: 25px
}

#date6 {
  position: absolute;
  left: 52%;
  top: 60%;
  text-align: center;
  font-size: 30px;
  color: #fefefe;
  padding:5px;
  border: 2px solid #fefefe;
  width: 150px;
  height:60px;
  padding: 0px;
  line-height: 25px
  line-height: 5px;
}

#tickets6 {

  position: absolute;
  left: 52%;
  top: 68%;
  text-align: center;
  color: #fefefe;
  padding: 0px;
  border: 2px solid #fefefe;
  width: 150px;
  height:130px;
  font-size: 30px;
  line-height: 25px;
}

#date7 {
  position: absolute;
  left: 67%;
  top: 60%;
  text-align: center;
  font-size: 30px;
  color: #fefefe;
  padding:5px;
  border: 2px solid #fefefe;
  width: 150px;
  height:60px;
  padding: 0px;
  line-height: 25px
  line-height: 5px;
}

#tickets7 {

  position: absolute;
  left: 67%;
  top: 68%;
  text-align: center;
  color: #fefefe;
  padding: 0px;
  border: 2px solid #fefefe;
  width: 150px;
  height:130px;
  font-size: 30px;
  line-height: 25px;
}



#socialmedia {
  position: absolute;
  left: 100px;
  top: 90%;
}

#header {
  margin:auto;
  width: 500px;
  font-family: Arial, Helvetica, sans-serif;
}



#box_menu {
  position: absolute;
  left: 150px;
  top: 10%;
  text-align: center;
  color: #fefefe;
  background-image: url("CD.png");
  padding:5px;
  border: 2px solid #fefefe;
  width: 105px;
  height:85px;
  line-height: 5px;
}

#artist_menu_box {

  position: absolute;
  left: 150px;
  top: 21%;
  text-align: center;
  color: #fefefe;
  padding: 0px;
  border: 2px solid #fefefe;
  width: 105px;
  height:30px;
  line-height: 25px;
}

#artist_menu {
  position: absolute;
  left: 147px;
  top: 20%;
  text-align: center;
  color: #fefefe;
  padding: 0px;
  line-height: 25px;
}

 ul, ol {
  list-style: none;
}

 * {
   padding: 5px;
   margin: 0px;
}

 .nav li a {
  background-color:none;
  color:#fff;
  text-decoration:none;
  padding: 1px 30px;
  display: block;
}

.nav li a:hover {
  background-color: #3ec2b5;
}

.nav > li {
  float: left;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 105px;
}

.nav li:hover > ul {
  display: block;
}

.nav a {
  background-color:none;
  color:#fff;
  text-decoration:none;
  padding: 7px 1px;
}

.nav a:hover {
  background-color: #fefefe;
}
