
      #artist_menu {

        position: absolute;
        left: 150px;
        top: 21%;
        text-align: center;
        color: #fefefe;
        background: <img src="./CD.png" />
        padding: 5px;
        border: 2px solid #fefefe;
        width: 105px;
        height:30px;
        line-height: 25px;
      }

      #box_menu {
        position: absolute;
        left: 150px;
        top: 10%;
        text-align: center;
        color: #fefefe;
        background-image: url("CD.png");
        padding:5px;
        border: 2px solid #fefefe;
        width: 105px;
        height:85px;
        line-height: 5px;
      }

      #artist_name {
        position: absolute;
        right: 150px;
        top: 40%;
        text-align: center;
        color: #fefefe;
        background-image: url("Celine_Dion.png");
        padding: 5px;
        width: 500px;
        height:250px;
        line-height: 130px;
      }

      #socialmedia {
        position: absolute;
        left: 100px;
        top: 90%;
      }
